body {
    direction: ltr;
}
@media (min-width: 768px)
{
.navbar-left {
    float: right!important;
}
}
.page-title {
    color: #fff;
    text-align: left;
}
.wpb_text_column ul li:before
{
    left: 0;
}
.wpb_text_column ul li
{
    padding-left: 20px
}