/*
 * =================================================================== 
 *
 *  PHD Main Stylesheet
 *  url: PHD.com
 *  -8-2017
 * -------------------------------------------------------------------
 *
 *  TOC:   
 * 1-01. webfonts and iconfonts 
 * 1-02. base style overrides
 * 1-03. common styles

 **** Home *****
 1- services
 2- portfolio




 /** 
 * ===================================================================
 * webfonts and iconfonts 
 *
 * ------------------------------------------------------------------- 
 */
 @font-face {
  font-family: 'FontAwesome';
  src: url('https://use.fontawesome.com/releases/v5.3.1/css/all.css'); 
 }
 @import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700&subset=arabic');
body {
  font-family: 'Cairo', sans-serif;


   direction: rtl;
    font-size: 15px;
    color: #777;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width:1024px) {
  html {
    font-size: 9.375px;

  }
}
@media only screen and (max-width:768px) {
  html {
    font-size: 10px;

  }
  h3
  {
    font-size: 25px;
  }
}
@media only screen and (max-width:400px) {
  html {
    font-size: 9.375px;
  }
}
 
/*
*-
* common styles
*
*/
.m-t-em-7
{
  margin-top: 7em
}
.m-t-em-3
{
  margin-top: 3em
}
.m-t-em-2
{
  margin-top: 2em
}
.m-t-em-1
{
  margin-top: 1em
}
.m-b-em-3
{
  margin-bottom: 3em
}
.m-b-em-2
{
  margin-bottom: 2em
}
.m-t-20
{
  margin-top: 20px;
}
.m-b-20
{
  margin-bottom: 20px
}
.m-t-15
{
  margin-top: 15px;
}
.m-t-10
{
  margin-top: 10px;
}
.m-b-10
{
  margin-bottom: 10px;
}
.m-b-5
{
  margin-bottom: 5px;
}
.m-t-5
{
  margin-top: 5px;
}

.padding-main
{
  padding: 3em 0;
}
/*color*/
.main-color
{
    color: #0083ff;
}
.secound-color
{
  color: #19a8cb;
}  
.background-main
{
  /*background-color: rgba(0, 131, 255, 0.02);*/
  background: #f0f0f0;
}
.white-color
{
  color: #fff;
}
.bg-white
{
   background-color: #fff;
}
.black-color
{
   color: #000;
}
.section-title
{
  margin-bottom: 4em
}
/*border*/
.main_border
{
  border:1px solid #DFDFDF;
      border-radius: 15px;
}

/* Links */
a {
    
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

/*
*
* common Style
*/
.btn-primary
{
      background-color: #0083ff;
          border-color: #0083ff;
    color: #fff;
    transition: all 0.4s;
        padding: 9px  34px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary.active:focus {
       box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
          background-color: #0083ff;
                    border-color: #0083ff;
    outline: none !important;
    
    transition: all 0.3s;
}
.btn-line
{
      background-color: transparent;
          border-color: #0083ff;
    color: #0083ff;
    transition: all 0.4s;
        padding: 6px 34px;
}

.btn-line:hover, .btn-line:focus, .btn-line:active, .btn-line.active, .open .dropdown-toggle.btn-btn-line, .btn-line:active:focus, .btn-line:active:hover, .btn-line.active:hover, .btn-line.active:focus {
       box-shadow: 0 7px 20px 5px rgba(50, 63, 14, 0.3);
         outline: none;
    
     background-color: #0083ff;
          border-color: #0083ff;
    color: #fff;
   
    transition: all 0.3s;
}
.btn-rounded {
  border-radius: 50px;
}






header .navbar-default {
  background: #fff;
  border: none;
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  
}
header .navbar-default {
  /*background: #fff;*/

  
}
header .navbar-default ul.navbar-nav {
  padding: 20px 0;
}
header .navbar-default ul.navbar-nav li a {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  padding: 7px 11px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:after {
  content: '';
  width: 32px;
  background: none;
  height: 4px;
  position: absolute;
  bottom: 2px;
  z-index: 99999;
  left: 20px;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  color: #ffffff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a:hover:after {
  background: transparent;
}
header .navbar-default ul.navbar-nav li a.getApp {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default ul.navbar-nav li a.getApp:hover, header .navbar-default ul.navbar-nav li a.getApp:focus, header .navbar-default ul.navbar-nav li a.getApp:focus
{
  background: #0083ff;
}
header .navbar-default ul.navbar-nav li a.getApp:after {
  display: none;
}
header .navbar-default ul.navbar-nav li a:focus {
  color: #ffffff;
}
header .navbar-default .navbar-brand {
  height: auto;
  padding: 0;
}
header .navbar-default.scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/*header .navbar-default.scrolled .navbar-brand {
  padding: 15px 20px;
}*/
header .navbar-default.scrolled .navbar-brand img {
  /*width: auto;*/
      max-height: 73px;
}
header .navbar-default.scrolled ul.navbar-nav {
/*  padding-top: 15px;*/
}
.navbar-brand img
{
      padding: 8px 5px;
    max-height: 69px;
}

/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
  overflow: hidden;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.tp-caption {
  font-family: 'Changa', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.tp-caption.large_white_bold {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
}
.tp-caption.large_white_light {
  color: #ffffff;
  font-size: 65px;
  font-weight: 400;
  font-weight: 300;
}

.navbar-fixed-top .navbar-collapse
{
  max-height: none;
}
@media screen and (max-width: 640px) {
  .logo {
    width: 100px;
    height: auto;
  }
  .slick-next {
    right: 0;
  }
  .slick-prev {
    left: 0;
  }
  .contact-details {
    margin-top: 20px;
  }
  header .navbar-default {
    padding: 20px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 0px;
    margin-right: 0px;
    background: none;
    border: 2px solid #0083ff;
    color: #0083ff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default ul.navbar-nav li a {
    padding: 10px;
    text-align: center;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    background: none !important;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    -ms-border-radius: 0em;
    -o-border-radius: 0em;
    border-radius: 0em;
  }
  header .navbar-default .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled .navbar-collapse {
    border-color: transparent;
  }
  header .navbar-default.scrolled ul.navbar-nav {
    padding-top: 0;
    margin: 0;
  }
  header .navbar-default.scrolled .navbar-toggle {
    margin-top: 11px;
    margin-right: 20px;
    background: none;
    border: 2px solid #0083ff;
    color: #0083ff;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
    border-radius: 5em;
  }
}


header .navbar-default ul.navbar-nav li a {
  color: #cccccc;
  background: none;
}
header .navbar-default ul.navbar-nav li a.getApp {
  color: #fff !important;
  background: #0083ff;
 
}
/**/
header .navbar-default ul.navbar-nav li a:hover
 {
  color: #0083ff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:active
 {
  color: #0083ff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

header .navbar-default ul.navbar-nav li a:foucs
 {
  color: #0083ff;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
header .navbar-default.scrolled {
  border-bottom: 1px solid #f4f9ff
}
header .navbar-default.scrolled ul.navbar-nav li a {
  color: #ccc;
}
header .navbar-default.scrolled ul.navbar-nav li a:hover {
  color: #0083ff;
}
/*header .navbar-default.scrolled ul.navbar-nav li a:hover:after {
  background: #336799;
}*/
/*header .navbar-default.scrolled .navbar-brand {
  background: #336799;
}*/
.navbar-toggle {
  background-color: #CCC;
  border: 1px solid rgba(0, 0, 0, 0);
}

@media screen and (max-width: 640px) {
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus {
    background: none;
  }
  header .navbar-default ul.navbar-nav li a {
    color: #ffffff;
    border-bottom: 1px solid #376fa4;
  }
  header .navbar-default ul.navbar-nav li a.getApp {
    color: #ffffff;
  }

  header .navbar-default ul.navbar-nav li a:after {
    display: none;
  }
  header .navbar-default ul.navbar-nav li a:hover {
    color: #66cdcc;
  }
  header .navbar-default .navbar-collapse {
    background: #336799;
  }
  header .navbar-default.scrolled {
    background: #fff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a {
    color: #fff;
  }
  header .navbar-default.scrolled ul.navbar-nav li a:hover {
    color: #0083ff;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #0083ff;
     background-color: transparent; 
}
.navbar-default.scrolled .navbar-nav>.active>a, .navbar-default.scrolled .navbar-nav>.active>a:focus, .navbar-default.scrolled .navbar-nav>.active>a:hover {
    color: #0083ff;
    background-color: transparent;
}
.dropdown .dropdown-menu li a
{
  padding: 3px 17px !important
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 19px;
}
.dropdown-menu
{
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
          border: 1px solid rgba(169, 163, 163, 0.15);
}
@media (max-width: 767px)
{
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #f7f5f5;
 }
 .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #0083ff;
  background-color: transparent;
}
}
#banner-static { 
    padding-top: 17em;
    padding-bottom: 12em;
}
#banner-static .title { 
  font-size: 2em;
    font-weight: bolder;

}

/*login*/
.pb_form_v1 {
    padding: 1.3em 2em 2em;
        -webkit-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);

    box-shadow: 1px 11px 68px -20px #337ab752;
}
.rounded {
    border-radius: 1.25rem  !important;
}
.form-control.reverse {
    
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  
}

.pb_height-50 {  
    height: 50px!important;
}

/*search*/

 /*subscribe*/
.bg-elipse-red {
    background: url(../img/elipse-bg-two.png) no-repeat;
    background-position: center;
}
.cta-subscribe .content .title h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
}
.domain-checker .input-group {
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.domain-checker .input-group .input-group-addon {
    padding-left: 35px;
    padding-right: 35px;
    background: #7d71d3;
    color: #fff;
    cursor: pointer;
}
.domain-checker input
{
  height: 60px;
    border: none;
    padding-left: 30px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.domain-checker button
{
  border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    height: 59px;
    padding: 0 45px;
}

@media only screen and (max-width:768px) {
  #banner-static {
    padding-top: 8em;
  
    padding-bottom: 8em;
  }
  #banner-static h2
  {
    font-size: 1.3em;
  }
}

/*
*
* footer
*/
footer
{
 
  padding: 2em;
  color: #fff;
  background: #0083ff;
     font-size: 14px;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
footer a
{
      padding: 10px 5px;
    color: #fff;
}
footer .social
{
      font-size: 20px;
}
footer .list-inline  li a:active li a:focus, li a:hover, li a:visited
{
      color: #fff;
}

/*
*
* footer
*/
.wpb_wrapper h3 {
  font-size: 42px;
  line-height: 48px;
  color: #3c3c3c;

}
 
.wpb_text_column ul li {
  list-style-type: none;

}
.wpb_text_column ul li {
  position: relative;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: #636363;
  margin-bottom: 8px;
  padding-right: 18px;
}
.wpb_text_column ul li:before {
  content: "";
  position: absolute;
  top: 11px;
  right: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #0083ff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}




canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #b61924;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
#particles-js canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0 !important;


}
/* ---- news ---- */
#news 
{
  background: #0083ff05;
}
#news .item
{
  padding: 1.5em
}
.post-grid .post-body { 
  padding: 35px 20px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 30px;
  direction: rtl;

  min-height: 16em;
}
.post-grid .post-body .date {
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #aaaaaa;
  text-transform: uppercase;
}
.post-grid .post-body h4 {
  font-size: 2.2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #16334e;
}
.post-grid .post-body p {
  margin-top: 15px;
  font-family: 1.5rem;
}
.owl-theme .owl-controls .owl-page span
{
  background: #0083ff !important;

}
.owl-carousel
{
  direction: ltr ;
}
@media only screen and (min-width:768px) {
  .post-grid .post-thumb img
     {
     
       min-width:  345px;
       min-height:  195px;
       max-width:  345px;
       max-height: 195px;
     
     }
 
  
 }






.working-process {
  text-align: center;
  margin-bottom: 30px;
}
.working-process .process-icon {
  margin-bottom: 25px;
}
.working-process h5 {
  font-size: 2.0rem;
  color: #16334e;
}
.working-process .process-icon {
  position: relative;
}
.working-process.process-four .process-icon {
  position: static;
}
.working-process .process-icon:before {
  position: absolute;
  content: url(../img/arrow.png);
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -35px;
}
.working-process.process-four .process-icon:before {
  display: none;
}

@media all and (max-width: 991px) {
  .working-process .process-icon {
    margin-bottom: 15px;
  }
  .working-process .process-icon:before {
    content: "";
  }
}
.morecontent span {
  display: none;
}
.morelink {
  display: block;
}


.page-header-padding {
  padding: 90px 0 
}

.page-title
{
  color: #fff;
}
.page-header-bg {
  background-image: url(../img/page-header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.page-header-bg {
  background: url(../img/page-header-bg.jpg) no-repeat center;
  background-size: cover;
}

/* ---- team ---- */



#team .card {
  border: none;
  background: #ffffff;
  padding: 2em;
  border-radius: 40px ;
  box-shadow: 0 1px 3px rgb(222, 226, 228), 0 1px 2px rgb(250, 253, 255);
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(222, 232, 239);
  -moz-box-shadow: 5px 7px 9px -4px rgb(222, 232, 239);
  box-shadow: 5px 7px 9px -4px rgb(222, 232, 239);

  border-radius: 40px !important;
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}

.frontside .card .card-body img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
/*-- partners */

#partners img
 {
width: 120px
}





/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/

/*==================================================================
[ Text ]*/
.txt1 {
 
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.txt2 {
  font-size: 15px;
  line-height: 1.6;
  color: #999999;
}

.txt3 {
  font-size: 15px;
  line-height: 1.6;
  color: #0083ff;
}

/*==================================================================
[ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

.container-contact100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
  padding: 9em 0 5em 0
  
}
.contact100-more .media-heading
{
 
    font-weight: bold;
    font-size: 1.6em;
}
.contact100-more i{
  font-size: 1.8em;
}
.contact100-more p{
  font-size: 1.2em;
  color: #fff;
}
.wrap-contact100 {
  width: 1120px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

/*==================================================================
[ Contact more ]*/
.contact100-more {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0px 15px;
}

.contact100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 131, 255, 0.66);
}



/*==================================================================
[ Form ]*/

.contact100-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 56px 55px 63px 55px;
}

.contact100-form-title {
  width: 100%;
  display: block;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6;
}

.rs1-wrap-input100,
.rs2-wrap-input100 {
  width: 50%;
}

.rs2-wrap-input100 {
  border-left: none;
}

.label-input100 {
  font-size: 12px;
  color: #555555;
  line-height: 1.5;

  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px;
  border: 1px solid #e6e6e6;
  border-bottom: none; 
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
}

input.input100 {
  height: 55px;
}


textarea.input100 {
  min-height: 139px;
  padding-top: 19px;
  padding-bottom: 15px;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #0083ff;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 23px;
  padding: 7em 0
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 2px;
  background: #0083ff;

  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .contact100-form {
    width: 60%;
    padding: 56px 30px 63px 30px;
  }

  .contact100-more {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .contact100-form {
    width: 100%;
  }

  .contact100-more {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .contact100-form {
    padding: 56px 15px 63px 15px;
  }

  .rs1-wrap-input100,
  .rs2-wrap-input100 {
    width: 100%;
  }

  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
    border-top: none;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
 
    content: "\f12a";
    font-family: Font Awesome\ 5 Free;

    font-weight: 900;
  
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


.media-left i
{
  padding: 0 1em
}
.contact100-more .frist
{
  padding: 33% 0 0 0
}
.contact100-more .media
{
  margin: 2.5em
}


.our_company .media-heading  {
  line-height: 2.2;
  font-weight: bold;
  font-size: 1.6em;

}
#details h1 {
  line-height: 2.2;
  font-weight: bold;
}
.our_company .media img {
  box-shadow: 0 0px 15px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 86%;
  padding: 0;
  max-height: 70px;
}
.our_company .media-left {
  padding: 1em;
}


.eco_services_environment {
  background-image: url(../img/eco-services-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/*
*
* news details
*/
#news_details
{
  padding: 4em 0
}
.post-details > h2 {
  font-size: 3.0rem;
  color: #16334e;
  margin-bottom: 10px;
}
.post-details .post-details-meta {
  padding: 0 0 20px 0;
  margin-bottom: 15px;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.post-details .post-details-meta li {
  display: inline-block;
  margin-right: 30px;
  color: #808080;
  font-size: 1.5rem;
}
.post-details .post-details-meta li i {
  margin-left: 10px;
  color: rgba(0, 131, 255, 0.6);
}
.post-details {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.08);
}


.container .gallery a img
{
  min-height: 165px !important;
  max-height: 165px !important;
}
